In [1]:
import numpy as np 
import pandas as pd

In [2]:
students = pd.DataFrame([[78,82,76],
              [85,80,92],
              [80,75,87],
              [96,94,95],
              [70,65,81]],index=['std1','std2','std3','std4','std4'],
            columns=['maths','physics','chemistry'])
students

      maths  physics  chemistry
std1     78       82         76
std2     85       80         92
std3     80       75         87
std4     96       94         95
std4     70       65         81

In [4]:
students.describe()

           maths    physics  chemistry
count   5.000000   5.000000    5.00000
mean   81.800000  79.200000   86.20000
std     9.602083  10.568822    7.79102
min    70.000000  65.000000   76.00000
25%    78.000000  75.000000   81.00000
50%    80.000000  80.000000   87.00000
75%    85.000000  82.000000   92.00000
max    96.000000  94.000000   95.00000

In [40]:
students.apply(np.quantile,axis=1,q=[0.25,0.5,0.75])

std1    [77.0, 78.0, 80.0]
std2    [82.5, 85.0, 88.5]
std3    [77.5, 80.0, 83.5]
std4    [94.5, 95.0, 95.5]
std4    [67.5, 70.0, 75.5]
dtype: object

In [37]:
students.quantile(q=[0.25,0.5,0.75]).reset_index(drop=True)

   maths  physics  chemistry
0   78.0     75.0       81.0
1   80.0     80.0       87.0
2   85.0     82.0       92.0

In [21]:
students.apply(np.median,axis=1)

std1    78.0
std2    85.0
std3    80.0
std4    95.0
std4    70.0
dtype: float64

In [42]:
credit = pd.read_csv('c:/data/credit.csv')
credit.default

0      1
1      2
2      1
3      1
4      2
      ..
995    1
996    1
997    1
998    2
999    1
Name: default, Length: 1000, dtype: int64

In [50]:
credit.shape

(1000, 21)

In [44]:
credit.default.value_counts()

1    700
2    300
Name: default, dtype: int64

In [49]:
def convert_default(x):
    if x==1:
        return 'yes'
    else:
        return 'no'

In [51]:
credit['approval'] = credit.default.apply(convert_default)

In [52]:
credit.shape

(1000, 22)

In [53]:
credit.head()

,checking_balance,months_loan_duration,credit_history,purpose,amount,savings_balance,employment_length,installment_rate,personal_status,other_debtors,...,age,installment_plan,housing,existing_credits,default,dependents,telephone,foreign_worker,job,approval
0,< 0 DM,6,critical,radio/tv,1169,unknown,> 7 yrs,4,single male,none,...,67,none,own,2,1,1,yes,yes,skilled employee,yes
1,1 - 200 DM,48,repaid,radio/tv,5951,< 100 DM,1 - 4 yrs,2,female,none,...,22,none,own,1,2,1,none,yes,skilled employee,no
2,unknown,12,critical,education,2096,< 100 DM,4 - 7 yrs,2,single male,none,...,49,none,own,1,1,2,none,yes,unskilled resident,yes
3,< 0 DM,42,repaid,furniture,7882,< 100 DM,4 - 7 yrs,2,single male,guarantor,...,45,none,for free,1,1,2,none,yes,skilled employee,yes
4,< 0 DM,24,delayed,car (new),4870,< 100 DM,1 - 4 yrs,3,single male,none,...,53,none,for free,2,2,2,none,yes,skilled employee,no

In [54]:
credit.approval.value_counts()

yes    700
no     300
Name: approval, dtype: int64

In [56]:
credit.dependents.value_counts()

1    845
2    155
Name: dependents, dtype: int64

In [59]:
credit.dependents = credit.dependents.apply(lambda x : 'yes' if x==1 else 'no')

In [60]:
credit.shape

(1000, 22)

In [61]:
credit.head()

,checking_balance,months_loan_duration,credit_history,purpose,amount,savings_balance,employment_length,installment_rate,personal_status,other_debtors,...,age,installment_plan,housing,existing_credits,default,dependents,telephone,foreign_worker,job,approval
0,< 0 DM,6,critical,radio/tv,1169,unknown,> 7 yrs,4,single male,none,...,67,none,own,2,1,yes,yes,yes,skilled employee,yes
1,1 - 200 DM,48,repaid,radio/tv,5951,< 100 DM,1 - 4 yrs,2,female,none,...,22,none,own,1,2,yes,none,yes,skilled employee,no
2,unknown,12,critical,education,2096,< 100 DM,4 - 7 yrs,2,single male,none,...,49,none,own,1,1,no,none,yes,unskilled resident,yes
3,< 0 DM,42,repaid,furniture,7882,< 100 DM,4 - 7 yrs,2,single male,guarantor,...,45,none,for free,1,1,no,none,yes,skilled employee,yes
4,< 0 DM,24,delayed,car (new),4870,< 100 DM,1 - 4 yrs,3,single male,none,...,53,none,for free,2,2,no,none,yes,skilled employee,no

In [63]:
credit.dependents.isna().sum()

0